* {
	font-family: 'VT323', monospace;
}

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
}

h2 {
    color: navy;
    text-align: center;
}

.link {
    color: gray;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
